@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />

@foreach (Weekday day in Model.MenuMap.Keys)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Speiseplan für @day.ToString()</h4>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <text>#</text>
                    </th>

                    <th>
                        <text>Name</text>
                    </th>
                    <th>
                        <text>Kategorie</text>
                    </th>
                    <th>
                        <text>Label</text>
                    </th>
                    <th>
                        <text>ID</text>
                    </th>

                    <th>
                        <text>Preis für Studenten</text>
                    </th>
                    <th>
                        <text>Preis für Mitarbeiter</text>
                    </th>
                    <th>
                        <text>Preis für Gäste</text>
                    </th>

                    <th>
                        <text>Upvotes</text>
                    </th>
                    <th>
                        <text>Downvotes
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Item item in Model.GetItems(day))
                {
                <tr>
                    <th>
                        @Model.GetPosition(day, item)
                    </th>

                    <th>
                        @item.name
                    </th>
                    <th>
                        @item.category
                    </th>
                    <th>
                        @item.labels
                    </th>
                    <th>
                        @item.id
                    </th>

                    <th>
                        @item.cost.students
                    </th>
                    <th>
                        @item.cost.employees
                    </th>
                    <th>
                         @item.cost.guests
                    </th>

                    <th>
                         @item.upvotes
                    </th>
                    <th>
                         @item.downvotes
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
}